
body {
    margin: 0 auto; 
    text-align: center; }

#canvas {
    border: 20px solid #c2d6d6;}

h1 {
    font-family: 'Nothing You Could Do', cursive;
    color: #75a3a3;}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: dimgray;}

    
    
